:host {
  display: block;

  .form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.25rem;
    padding: 1rem 0;
    border-bottom: 1px solid grey;

    .group {
      display: flex;
      gap: 1rem;
      align-items: center;
      flex-wrap: wrap;

      .range {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        text-transform: capitalize;
      }

      mat-form-field {
        display: inline-flex;
        max-width: 180px;

        &.period {
          max-width: 240px;
        }

        mat-label {
          display: inline-flex;
          text-transform: capitalize;
          font-size: 0.9rem;
        }

        .additional-selection {
          opacity: 0.75;
          font-size: 0.75em;
          line-height: 1;
        }
      }
    }

    mat-slide-toggle {
      span {
        color: var(--text-color);
      }
    }
  }
}
